@media only screen and (min-width: 38rem) {

    /* styling the header */
    .menu {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.show {
        display: flex;
        justify-content: flex-end;
    }

    ul.menuLinks a:hover {
        background-color: rgba(255,255,255,0.2);
    }

    nav {
        grid-template-rows: 1fr;
    }

    .last-modified {
        margin-top: 0;
        text-align: left;
    }

    /* ------STYLING IN THE DIRECTORY FILE------ */
    /* display grid in desktop view */
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 5px;
        align-items: center;
    }
    
    /* displaying the list in desktop view as zebra stripes */
    .list #section-from-derictory {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1rem;
        border-radius: 10px;
        margin: 0;
    }

    .list #section-from-derictory > * {
        margin: 0 1rem;
        font-size: inherit;
    }

    .list #section-from-derictory img, .list #section-from-derictory .goal, .list #section-from-derictory .membership {
        display: none;
    }

    .list #section-from-derictory:nth-child(even) {
        background-color: #b89d9d;
    }
    .list #section-from-derictory:nth-child(odd) {
        background-color: #505050;
        color: #fff;
    }

    #section-from-derictory h2 {
        font-size: 1rem;
    }

    /* ------STYLING IN THE LANDING PAGE OR HOME PAGE FILE------ */
    #call-to-action {
        bottom: 10rem;
        right: 4rem;
        font-size: 2.5rem;
        animation: animateButton 2s ease-in;
    }

    @keyframes animateButton {
        from {
            bottom: 2rem;
        }
        to {
            bottom: 10rem;
        }
        
    }

    #landing-page-main {
        max-width: 90%;
        background-color: #f4f4f4;
    }

    #all-weather-info {
        display: flex;
        gap: 2rem;
        justify-content: space-around;
    
    }

    #all-weather-info section {
        flex: 1;
    }

    .spotlight-container {
        display: flex;
        gap: 20px;
        justify-content: space-around;
        flex-wrap: wrap;

    }

    .spotlight-card {
        flex: 1;
        max-width: 400px;
    }

    .spotlight-info {
        line-height: 1.6em;
    }

    .company-name p {
        font-size: medium;
        margin: 0;
    }

    /* -------STYLING THE JOIN HTML IN DESKOP VIEW---- */
    #join-main {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    #membership-level-card {
        padding: 3.5rem;
        border-radius: 0;

    }

    #membership-level-card section {
        padding: 2rem;
    }    

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        text-align: left;
    }

    footer div.organization-info, footer div.class-project {
        font-size: small;
    }



    
}