/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    --background-color: #333;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header styles */
header {
    background-color: var(--background-color);
    color: #fff;
    padding: 1rem;
    display: grid;
    grid-template-columns: 84px auto 44px;
    align-items: end;
    line-height: normal;
}

header img {
    object-fit: cover;
    border-radius: 10%;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 84px; /* Add explicit width */
    height: auto; /* Maintain aspect ratio */
}

header .title-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2em;
}

header .title-info h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

/* Navigation styles */
nav {
    background-color: rgb(245, 212, 168);
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
}

nav.show {
    grid-template-rows: 1fr;
}

/* Styling the hamburger menu */
.menu::before {
    content: "=";
}

.menu {
    font-size: 3rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: 0.25rem 2vw;
}

ul.menuLinks li a {
    display: block;
    padding: 1rem 2vw;
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}

ul.menuLinks a:hover {
    background-color: rgba(255, 255, 255, 0.112);
    transition: 0.5s;
    transform: scale(1.1);
}

li.current-menu-item a {
    background-color: rgba(0, 0, 0, 0.3);
}

.menu.show::before {
    content: "x";
}

/* ----------------STYLING THE DIRECTORY MAIN----------------- */
/* styling the main */
#director-main {
    margin: 0 auto;
    padding: 1rem;
    max-width: 800px;
    background-color: #fff;
    text-align: center;
    color: black;
    font-family: Roboto, Helvetica, sans-serif;
    min-height: calc(100vh - 200px);
}

#section-from-derictory {
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    background-color: #f9f9f9;
    line-height: 1.5em;
}

#grid, #list {
    padding: 1rem;
    font-weight: 700;
    margin-top: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    align-items: center;
}

.grid #section-from-derictory > * {
    margin: 0.5rem;
}

.list  {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}


#cards img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: auto; 
    border-radius: 10px;
}

.list #section-from-derictory {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    border-radius: 10px;
    margin: 0;
}

.list #section-from-derictory > * {
    margin: 0 1rem;
    font-size: small;
}

.list #section-from-derictory img, .list #section-from-derictory .goal, .list #section-from-derictory .membership {
    display: none;
}

.list #section-from-derictory:nth-child(even) {
    background-color: #b89d9d;
}
.list #section-from-derictory:nth-child(odd) {
    background-color: #505050;
    color: #fff;
}

.grid .goal {
    display: none;
}

.membership {
    color: rgb(68, 10, 10);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ---------- STYLING THE LANDING PAGE ---------------- */

#landing-page-main {
    margin: 0 auto;
    padding: 0 1em 1em 1rem;
    background-color: #fff;
    text-align: center;
    color: black;
    font-family: Roboto, Helvetica, sans-serif;
    min-height: calc(100vh - 200px);
}

#landing-page-main #weather-section, #event-section, #forecast-section {
    margin: 1rem 0;
    padding: 0 0rem 2rem 0rem;
    line-height: 1.5em;
}

#content-container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.weather-container, .forecast-container, .event-container {
    background-color: #eeeaea;
}

.home {
    text-align: center;
}

#landing-page-main #weather-section h2, #event-section h2, #forecast-section h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
    background-color: #280538;
    color: #fff;
    padding: 0.5em;
    text-align: center;
}

/* styling the hero container */
#hero-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem 0;
}

#hero-container img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#call-to-action {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    padding: 0.5rem 1rem;
    background-color: rgb(94, 57, 9);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#call-to-action:hover {
    background-color: rgb(112, 81, 39);
    color: white;
}

/* styling the weather container */
#landing-page-main #weather-details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1rem 0;
}

.weather-info {
    text-align: left;
    line-height: 1.8rem;
    padding-top: 1em;
}

#weather-details-container img {
    width: 150px;
    height: auto;
}

#weather-details-container figcaption, .weather-info p:first-child {
    font-weight: bold;
    font-size: large;
}

/* styling the weather forecast container */
#landing-page-main .forecast-container #forecast-details-container {
    line-height: 3rem;
    font-size: large;
}

#forecast-details-container .degree {
    font-weight: bolder;
}

/* styling the spotlight container */

.spotlight-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: var(--box-shadow);
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.spotlight-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    object-fit: cover;
}

.spotlight-container .spotlight-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 1.8rem;
    gap: 1em;
    padding: 1em;
}

.spotlight-header {
    border-bottom: 1px solid #333;
    width: 100%;
}

.spotlight-info {
    text-align: left;
    line-height: 2.5rem;
}

.spotlight-info #quantifier {
    font-weight: bolder;
}

.company-name p {
    font-size: 1.5rem;
    margin: 1rem 0;
}

/* ----STYLING THE THANKYOU.HTML--- */
#thanks-main {
    margin: 0 auto;
    padding: 2rem;
    max-width: 800px;
    background-color: #fff;
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out;
}

#thanks-main h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #280538;
}

#thanks-main #results {
    text-align: left;
    line-height: 1.8rem;
}

#thanks-main #results p {
    margin: 1rem 0;
}

#thanks-main #results span {
    font-weight: bold;
}

#thanks-main #results a {
    color: #280538;
    text-decoration: none;
}

#thanks-main #results a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* -----STYLING THE JOIN HTML---- */
/* styling the form */
form {
    margin: 1rem 2%;
    padding: 1rem;
    background-color: #f9f9f9;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out;
}

form label {
    display: block;
    font-size: 0.9rem;
    color: #280538;
    padding-top: 0.5rem;
    animation: slideIn 0.5s ease-in-out;
}

form h3 {
    font-size: 1.5rem;
    color: #4d1d10;
    margin: 1.5rem 0 0.5rem 0;
    border-bottom: 1px solid #eee;
}

form input[type=text],
form input[type=tel],
form input[type=date],
form input[type=email],
form select {
    display: block;
    margin: 0.5rem 0 1rem 0;
    padding: 0.5rem;
    border: 1px solid #999;
    border-radius: 5px;
    border-left-width: 5px;
    border-left-color: #280538;
    font-size: 1rem;
    color: #333;
    width: 100%;
    max-width: 300px;
    animation: fadeIn 1s ease-in-out;
}

form input:required {
    border-left-color: #d70000;
}

form input:focus {
    border-left-color: #280538;
    outline: none;
}

form input:required:valid {
    border-left-color: green;
}

#organization {
    margin-top: 1rem;
}

#organization textarea {
    width: 100%;
    max-width: 300px;
    height: 100%;
    padding: 10px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#membership-level-card button:hover {
    background-color: #3D405B;
}

form input[type=submit] {
    border: none;
    text-align: center;
    background-color: #280538;
    color: white;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    margin: 2rem 0;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    transition: background-color 0.3s ease;
}

form input[type=submit]:hover {
    background-color: #3D405B;
}

/* styling the membership container */
#member-info-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#member-info-container h2 {
    text-align: center;
    padding-bottom: 0.5em;
}

#membership-level-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

#membership-level-card section {
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}
@keyframes cardAnimation {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#membership-level-card section {
    animation: cardAnimation 1s ease-in-out;
}

.non-profit-color {
    background-color: #d4edda;
    color: #000;
}

.bronze-color {
    background-color: #dfa974;
    color: #000;
}

.silver-color {
    background-color: #c0c0c0;
    color: #000;
}

.gold-color {
    background-color: #ffd700;
    color: #000;
}

.non-profit-color:hover {
    background-color: #c3e6cb;
    color: #0b2e13;
}

.bronze-color:hover {
    background-color: #b87333;
    color: #000;
}

.silver-color:hover {
    background-color: #a9a9a9;
    color: #000;
}

.gold-color:hover {
    background-color: #e6be00;
    color: #000;

}

.non-profit-color:hover,
.bronze-color:hover,
.silver-color:hover,
.gold-color:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}

#membership-level-card button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #280538;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* styling an animated modal */
.members-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 0.1rem 2rem 2rem 2rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    width: 80%;
    max-width: 500px;
    border: none;
    animation: fadeIn 0.5s ease-in-out;
}


.members-dialog .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.members-dialog .close-button:hover {
    transform: rotate(90deg); 
}

.members-dialog h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: var(--background-color);
    padding: 0.5em;
}

.members-dialog p {
    font-size: 1rem;
    color: #333;
}

.members-dialog ul.benefits {
    list-style-type: none;
    padding: 0;
}

.members-dialog ul.benefits li {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #555;
}

/* styling the backdrop */
.members-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s ease-in-out;
}

.amount {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0e0202;
}

/* ---STYLING THE DISCOVER PAGE---- */
/* styling the interest card */
#interest-container {
    padding: 1rem;
}

#disc-h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--background-color);
}


#interest-card {
    margin: 1rem 8px;
    border: 1px solid #999;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 1em;
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: grid;
    grid-template-areas: 
    "title"
    "image"
    "paragraph"
    "address"
    "button";
}

#interest-card:hover {
    transform: scale(1.001);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

#interest-container #interest-card h2 {
    margin: 1rem 10px;
    grid-area: title;
    font-size: 1.5rem;
    color: var(--background-color);
}

#interest-container #interest-card img {
    width: 100%;
    height: auto;
    grid-area: image;
    border-bottom: 1px solid #ddd;
    object-fit: cover;
}

#interest-container #interest-card p {
    margin: 1rem 10px;
    grid-area: paragraph;
    line-height: 1.6;
    color: #333;
}

#interest-container #interest-card address {
    margin: 1rem 10px;
    grid-area: address;
    font-style: normal;
    color: black;
}

#interest-container #interest-card button {
    padding: 0.5em;
    grid-area: button;
    background-color: var(--background-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#interest-container #interest-card button:hover {
    background-color: #444;
}

/* styling the aside or sidebar content */

#sidebar-content {
    background-color: #0c454d;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #333;
}

#sidebar-content h2 {
    font-size: 1.5rem;
    color: var(--background-color);
    margin-bottom: 1rem;
}

#sidebar-content p {
    line-height: 1.6;
    margin-bottom: 1rem;
}

#sidebar-content a {
    color: var(--background-color);
    text-decoration: none;
    font-weight: bold;
}

#sidebar-content a:hover {
    text-decoration: underline;
}
/* Visitor message styles */
#visitor-message {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: white;
    text-align: center;
}

/* Footer styles */
footer {
    background: var(--background-color);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    min-height: 150px;
    position: relative;
}

footer .social-media ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1.5rem 0;
    list-style-type: none;
    padding: 0;
    min-height: 50px;
}

footer .social-media ul li img {
    object-fit: cover;
    min-height: 50px;
}

.last-modified {
    font-size: 0.8rem;
    color: yellow;
    text-align: center;
    margin-top: 1rem;
}

footer .organization-info {
    font-size: 1rem;
    margin-top: 1rem;
}

footer .organization-info p:first-child {
    font-size: medium;
}
