/* mobile view */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general body styling */
body {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

:root {
    --primary-color: rgb(63, 11, 11); 
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header, h2, footer {
    background-color: var(--primary-color);
}

section h2 {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 0.5em 0.5em 0 0;
}

section {
    margin: 3rem;
}

/* header styling */
header {
    padding: 1em;
}

header div {
    display: flex;
    gap: 2em;
    flex-direction: row;
}

header nav ul {
    background-color: burlywood;
    display: flex;
    list-style: none;
    flex-direction: column;
    text-align: center;
}

header nav ul a {
    display: none;
    color: black;
    padding: 0.5rem 0.2rem;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

header nav ul li:hover {
    background-color: black;
    transition: 0.5s;
    transform: scale(1.05);
    border-radius: 8px;
}

header nav a:hover, header nav a:focus, header nav a:active {
    text-decoration: overline;
    text-decoration-color: brown;
    color: #fff;
}

/* styling the hamburger menu */

.menu {
    font-size: 1.5rem;
    color: #fff;
    border: 0;
    background: none;
    position: absolute;
    top: 0.5em;
    right: 1em;
    cursor: pointer;
}

.menu::before {
    content: "☰";
}

.show.menu::before {
    content: "X";
}

.show a {
    display: block;
}

.active {
    color: var(--primary-color);
}

/* styling section one */
#section-one nav a {
    color: black;
    padding-left: 30px ;
    line-height: 1.5em;
    padding-top: 10px;
}

/* styling the section two */
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px
}

#section-two img, header img, footer img {
    max-width: 100%;
    height: auto;
}

#section-two img:hover {
    animation: imgOpacity 1.5s ease-in-out;
}

@keyframes imgOpacity {
    from {
        opacity: 0.7;
        scale: 1;
    }
    to {
        opacity: 1;
        scale: 1.05;
    }
}

#section-two figcaption {
    margin-top: 10px;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.nav-buttons button, #represent:hover {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav-buttons button:hover {
    transform: scale(1.1);
    background-color: #ddd;
}

/* styling the course section */
#section-three .nav-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: solid grey 2px;
}

#section-three .nav-buttons button {
    padding: 0.4em 2.8em;
    font-size: 1rem;
    color: white;
    background-color: rgb(95, 71, 26);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* styling the weather information section */
#section-four {
    background-color: #fffbfb;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    text-align: center;
}

#weather-pad {
    padding: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#section-four h2 {
    color: white;
    margin-bottom: 1rem;
}

#section-four p {
    color: black;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    animation: slide-in 3s;
}

@keyframes slide-in {
    from {
        translate: 10vw 0;
        scale: 150% 1;
    }
    to {
        translate: 0 0;
        scale: 100% 1;
    }
}

#section-four figure {
    margin: 1rem 0;
}

#section-four img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#section-four figcaption {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: black;
}

.nav-content {
    display: grid;
    gap: 5px;
    padding: 5px;
    padding-top: 10px;
}

.yesCompleted {
    background-color: rgb(11, 95, 11);
    color: white;
    padding: 0.4rem 2.8rem;
    border-radius: 5px;
    cursor: pointer;
}

.notCompleted {
    background-color: rgb(221, 221, 137);
    color: black;
    padding: 0.4rem 2.8rem;
    border-radius: 5px;
    cursor: pointer;    
}

.yesCompleted:hover, .notCompleted:hover {
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.yesCompleted:hover {
    transform: scale(1.04);
    background-color: rgb(6, 49, 6);
    border: 0;
}

.notCompleted:hover {
    transform: scale(1.07);
    background-color: rgb(155, 155, 32);
    border: 0;
}
.statement {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

/* styling the dialog */
dialog {
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: .25rem;
    background-color: #fff;
    box-shadow: 0 0  3rem #777;
    width: 90%;
    max-width: 600px;
    line-height: 1.6rem;
    padding: 0 1rem 1rem 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.subjectAndNumber {
    color: white;
    text-align: center;
    padding: 0.5em;
}

.course-description {
    margin-top: 1em;
    margin-bottom: 1em;
}

::backdrop {
    background-color: rgb(0 0 0 / 0.15);
}

dialog button {
    position: absolute;
    top: 5px;
    right: 15px;
    padding: .5rem 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);

}

/* styling the footer */
footer {
    text-align: center;
    padding:  1.5em;
    font-size: 0.9rem;
    width: 100%;
    line-height: 1.5;
}

#date-modified {
    color: yellow;
}
